/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* $Id$ */

/*IE6/7 don't support selectors*/
a.externalLink{background: url('../images/external.png') right center no-repeat;padding-right: 18px;}
a.newWindow{background: url('../images/window-new.png') right center no-repeat;padding-right: 18px;}

a.externalLink[href^=http]{background: url('../images/internet-web-browser.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href$=".asc"]{background: url('../images/accessories-text-editor.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href$=".jpg"],
a.externalLink[href$=".jpeg"],
a.externalLink[href$=".gif"],
a.externalLink[href$=".png"]{background: url('../images/image-x-generic.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href$=".tar.gz"],
a.externalLink[href$=".zip"]{background: url('../images/package-x-generic.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href$=".md5"],
a.externalLink[href$=".sha1"]{background: url('../images/document-properties.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href^=https]{background: url('../images/application-certificate.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href^=file]{background: url('../images/drive-harddisk.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href^=ftp]{background: url('../images/network-server.png') right center no-repeat;padding-right: 18px;}
a.externalLink[href^=mailto]{background: url('../images/contact-new.png') right center no-repeat;padding-right: 18px;}

li.none{list-style: none;}
li.expanded{list-style-image: url('../images/expanded.png');}
li.collapsed{list-style-image: url('../images/collapsed.png');}

/* Tweaks to the bootstrap theme
--------------------------------- */

/* sections title are rendered using h2 instead of h1 */
.hero-unit h2{font-size: 60px;}

/* Copied from bootstrap <code> tag style. Maven translates <code> to <tt>. */
tt{padding:0 3px 2px;font-family:Monaco, Andale Mono, Courier New, monospace;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
