 ------
 ${project.name}
 ------
 Hervé Boutemy
 ------
 2011-10-15
 ------

${project.name}

 This is a test for ${skinName} with topbar enabled, sidebar disabled and Google Search.
 ${skinDescription}

* Actual configuration

%{snippet|id=skin-custom-config|file=${project.basedir}/src/site/site.xml}
