 ------
 ${project.name}
 ------
 Simo
 ------
 2011-12-26
 ------

${project.name}

 This is a test for ${skinName} with GitHub ribbon enabled.
 ${skinDescription}

* Actual configuration

%{snippet|id=skin-custom-config|file=${project.basedir}/src/site/site.xml}
